<header *ngIf="info" class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
        <svg><use xlink:href="assets/img/symbols.svg#bar"></use></svg>
        <svg><use xlink:href="assets/img/symbols.svg#bar"></use></svg>
        <svg><use xlink:href="assets/img/symbols.svg#bar"></use></svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
        <h1 class="rk-logo">
            <a routerLink="iglesiaa">{{ infoPaginaService.info.titulo_app }}<br><sup>tabay 2024 </sup>
            </a>
        </h1>
        <nav class="rk-navigation">
            <ul class="rk-menu">
                <li routerLinkActive="active" class="rk-menu__item"><a routerLink="iglesiaa" class="rk-menu__link">Iglesia</a></li>
                <li routerLinkActive="active" class="rk-menu__item"><a routerLink="servidores" class="rk-menu__link">Servidores</a></li>
            </ul>
            <div class="rk-search">
                <input type="text" 
                (keyup.enter)="buscarComunidad( txtBuscar.value )"
                placeholder="Buscar..." 
                id="urku-search" 
                class="rk-search-field"
                #txtBuscar>

                <label for="urku-search">
                    <svg>
                        <use xlink:href="assets/img/symbols.svg#icon-search"></use>
                    </svg>
                </label>
            </div>
        </nav>
    </div>
</header>
